<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}"></head>
<body id="page-top">
    <div id="wrapper">
        <div th:replace="~{fragments/commons :: sidebar}"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace="~{fragments/commons :: nav}"></nav>
                <div class="container-fluid">
                    <div th:replace="~{fragments/commons :: headerMain(name='Chamados')}"></div>
                    <div th:replace="~{fragments/commons :: warnings}"></div>
                    <div class="card shadow-sm border-0 rounded-lg mb-4 mt-5">
                        <div class="card-header bg-primary text-center">
                            
                            <h5 class=" text-white" th:if="${adm}">Tabela de Chamados</h5>
                            <h5 class=" text-white" th:if="${!adm}">Meus Chamados</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Assunto</th>
                                        <th>Descrição</th>
                                        <th th:if="${adm}">Dono</th>
                                        <th>Status</th>
                                        <th>Data de Abertura</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody th:if="${#lists.isEmpty(chamados)}">
                                    <tr>
                                        <td colspan="6" class="text-center">Nenhum chamado encontrado</td>
                                    </tr>
                                </tbody>
                                <tbody th:each="chamado, stat : ${chamados}" th:unless="${#lists.isEmpty(chamados)}">
                                    <tr>
                                        <td th:text="${stat.count}"></td>
                                        <td th:text="${chamado.assunto}"></td>
                                        <td th:text="${chamado.descricao}"></td>
                                        <td th:if="${adm}" th:text="${chamado.dono.nome}"></td>
                                        <td th:text="${chamado.status}"></td>
                                        <td th:text="${chamado.createdAt}"></td>
                                        <td>
                                            <a class="btn btn-sm btn-info" th:href="@{'/chamados/editar/' + ${chamado.id}}">Visualizar</a>
                                            <a class="btn btn-sm btn-danger" th:href="@{'/chamados/delete/' + ${chamado.id}}">Fechar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="card shadow-sm border-0 rounded-lg mb-4 mt-5">
                        <div class="card-header bg-primary text-center">
                            <h5 class=" text-white">Abrir um Novo Chamado</h5>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{/chamados}">
                                <div class="form-group">
                                    <label for="subject">Assunto</label>
                                    <input type="text" name="assunto" class="form-control" id="subject" placeholder="Assunto do chamado" required>
                                </div>
                                <div class="form-group">
                                    <label for="description">Descrição</label>
                                    <textarea class="form-control"name="descricao" id="description" rows="4" placeholder="Descreva o problema" required></textarea>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary">Abrir Chamado</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragments/commons :: footer}" class="bg-white text-dark py-4"></footer>
        </div>
    </div>
</body>
</html>
