<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}"></head>
<body id="page-top">
    <div id="wrapper">
        <div th:replace="~{fragments/commons :: sidebar}"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace="~{fragments/commons :: nav}"></nav>
                <div class="container-fluid">
                    <div th:replace="~{fragments/commons :: headerMain(name='Visualizar Chamado')}"></div>
                
                    <div class="card shadow-sm border-0 rounded-lg mb-4 mt-5">
                        <div class="card-header bg-primary text-center">
                            <h5 class=" text-white">Detalhes do Chamado</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>ID do Chamado:</strong> <a th:text="${chamado.id}"></a></p>
                                    <p><strong>Assunto:</strong> <a th:text="${chamado.assunto}"></a></p>
                                    <p><strong>Data de Abertura:</strong> <a th:text="${chamado.createdAt}"></a></p>
                                    <p><strong>Status:</strong> <a th:text="${chamado.Status}"></a></p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Descrição:</strong> <a th:text="${chamado.descricao}"></a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow-sm border-0 rounded-lg mb-4">
                        <div class="card-header bg-warning text-center">
                            <h5 class=" text-white">Alterar Status do Chamado</h5>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/chamados/status}" th:method="post">
                                <input type="hidden" th:value="${chamado.id}" name="id"/>
                                <div class="form-group">
                                    <label for="status">Status Atual</label>
                                    <select class="form-control" id="status" th:field="*{chamado.status}">
                                        <option value="ABERTO" th:selected="${chamado.status == 'ABERTO'}">Aberto</option>
                                        <option value="ANDAMENTO" th:selected="${chamado.status == 'ANDAMENTO'}">Em andamento</option>
                                        <option value="FECHADO" th:selected="${chamado.status == 'FECHADO'}">Fechado</option>
                                    </select>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-warning">Atualizar Status</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
            <footer th:replace="~{fragments/commons :: footer}" class="bg-white text-dark py-4"></footer>
        </div>
    </div>
</body>
</html>
