<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}"></head>
<body id="page-top">
    <div id="wrapper">
        <div th:replace="~{fragments/commons :: sidebar}"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace="~{fragments/commons :: nav}"></nav>
                <div class="container-fluid">
                    <div th:replace="~{fragments/commons :: headerMain(name='Notificações')}"></div>

                    <!-- Notificação 1 -->
                    <div class="card card-waves mb-4 mt-5">
                        <div class="card-header bg-primary d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0 text-white">Notificação 1</h5>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Este é o conteúdo da notificação 1. Você pode adicionar qualquer texto ou elementos HTML aqui.</p>
                        </div>
                    </div>

                    <!-- Notificação 2 -->
                    <div class="card card-waves mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Notificação 2</h5>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Este é o conteúdo da notificação 2. Você pode adicionar qualquer texto ou elementos HTML aqui.</p>
                        </div>
                    </div>

                    <!-- Notificação 3 -->
                    <div class="card card-waves mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Notificação 3</h5>
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Este é o conteúdo da notificação 3. Você pode adicionar qualquer texto ou elementos HTML aqui.</p>
                        </div>
                    </div>
                </div>            
            </div>
            <footer th:replace="~{fragments/commons :: footer}" class="bg-white text-dark py-4">
            </footer>
        </div>
    </div>
</body>
</html>
