<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}"></head>
<body id="page-top">
    <div id="wrapper">
        <div th:replace="~{fragments/commons :: sidebar}"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace="~{fragments/commons :: nav}"></nav>
          
                <div class="container-fluid">
                    <div th:replace="~{fragments/commons :: headerMain(name='Usuarios')}"></div>
                    <div th:replace="~{fragments/commons :: warnings}"></div>
                    <div class="card card-waves mb-4 mt-5">
                        <div class="card-header bg-primary">
                            <h5 class="card-title text-white">Cadastrar Usuário</h5>
                        </div>
                        <div class="card-body">
                            <form id="cadastroForm" method="post" th:action="@{/usuarios}">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome completo" required>
                                    <div th:if="${nomeError != null}" class="text-danger">
                                        <small th:text="${nomeError}"></small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telefone">Telefone</label>
                                    <input type="text" id="telefone" name="telefone" class="form-control" placeholder="Telefone (10 ou 11 dígitos)" required>
                                    <div th:if="${telefoneError != null}" class="text-danger">
                                        <small th:text="${telefoneError}"></small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                                    <div th:if="${emailError != null}" class="text-danger">
                                        <small th:text="${emailError}"></small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tipoUsuario">Tipo de Usuário</label>
                                    <select id="tipoUsuario" name="role" class="form-control" required>
                                        <option value="ADMINISTRADOR">Administrador</option>
                                        <option value="GESTOR">Gestor</option>
                                        <option value="USUARIO">Usuario</option>
                                    </select>
                                    <div th:if="${roleError != null}" class="text-danger">
                                        <small th:text="${roleError}"></small>
                                    </div>
                                </div>                    
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                    
                    <div class="card mt-5">
                        <div class="card-header d-flex bg-primary justify-content-between align-items-center">
                            <h5 class="card-title text-white">Lista de Usuários</h5>
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar por Email" aria-label="Search" id="searchEmail">
                            </form>
                        </div>

                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Tipo de Usuário</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="usuario : ${usuarios}">
                                        <td th:text="${usuario.nome}">Nome do Usuário</td>
                                        <td th:text="${usuario.email}">email@email.com</td>
                                        <td th:text="${usuario.role}">Tipo de Usuário</td>
                                        <td>
                                            <a th:if="${usuario.email != email}" th:href="@{'/usuarios/editar/' + ${usuario.id}}" class="btn btn-sm btn-warning">Editar</a>
                                            <a th:if="${usuario.email == email}" class="btn btn-sm btn-warning" readonly>Editar</a>
                                            <a th:if="${usuario.email != email}" class="btn btn-sm btn-danger" th:href="@{'/usuarios/delete/' + ${usuario.id}}">Excluir</a>
                                            <a th:if="${usuario.email == email}" class="btn btn-sm btn-danger" readonly>Excluir</a>
                                            </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                        
                        
                    </div>
                </div>            
            </div>
            <footer th:replace="~{fragments/commons :: footer}" class="bg-white text-dark py-4">
            </footer>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const inputBusca = document.getElementById("searchEmail");
            const linhasTabela = document.querySelectorAll("tbody tr");
        
            inputBusca.addEventListener("keyup", function () {
                const termo = inputBusca.value.toLowerCase(); 
        
                linhasTabela.forEach(function (linha) {
                    const nome = linha.querySelector("td:nth-child(1)").textContent.toLowerCase();
                    const email = linha.querySelector("td:nth-child(2)").textContent.toLowerCase();
                    const tipo = linha.querySelector("td:nth-child(3)").textContent.toLowerCase();
        
                    const corresponde = nome.includes(termo) || email.includes(termo) || tipo.includes(termo);
        
                    linha.style.display = corresponde ? "" : "none";
                });
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            const telefoneInput = document.getElementById("telefone");

            telefoneInput.addEventListener("input", function (e) {
                let valor = e.target.value.replace(/\D/g, "");

                if (valor.length > 11) valor = valor.slice(0, 11);

                let formatado = valor;

                if (valor.length >= 11) {
                    formatado = valor.replace(/(\d{2})(\d{5})(\d{4})/, "($1) $2-$3");
                } else if (valor.length >= 10) {
                    formatado = valor.replace(/(\d{2})(\d{4})(\d{4})/, "($1) $2-$3");
                } else if (valor.length >= 6) {
                    formatado = valor.replace(/(\d{2})(\d{4})/, "($1) $2");
                } else if (valor.length >= 3) {
                    formatado = valor.replace(/(\d{2})(\d{1,4})/, "($1) $2");
                } else if (valor.length >= 1) {
                    formatado = valor.replace(/(\d{1,2})/, "($1");
                }

                e.target.value = formatado;
            });
        });
        </script>       
</body>
</html>
